@using Shared.DTOs
@using Shared.Models
@using System.Collections
@section SideBar {
    @await Component.InvokeAsync("SideBar", new { activeItem = "orders" })
}
<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="border-radius-lg pt-4 pb-3 bg-gradient-primary-dark shadow">
                    <h6 class="text-white text-capitalize ps-3">Order management board</h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                </div>
                <div class="drag-container"></div>
                <div class="board">
                    <div class="board-column confirm">
                        <div class="board-column-container" data-status="0">
                            <div class="board-column-header">Confirm</div>
                            <div class="board-column-content-wrapper">
                                <div class="board-column-content"></div>
                            </div>
                        </div>
                    </div>
                    <div class="board-column in-process">
                        <div class="board-column-container" data-status="1">
                            <div class="board-column-header">In process</div>
                            <div class="board-column-content-wrapper">
                                <div class="board-column-content"></div>
                            </div>
                        </div>
                    </div>
                    <div class="board-column deliveried">
                        <div class="board-column-container" data-status="2">
                            <div class="board-column-header">Deliveried</div>
                            <div class="board-column-content-wrapper">
                                <div class="board-column-content"></div>
                            </div>
                        </div>
                    </div>
                    <div class="board-column done">
                        <div class="board-column-container" data-status="3">
                            <div class="board-column-header">Done</div>
                            <div class="board-column-content-wrapper">
                                <div class="board-column-content"></div>
                            </div>
                        </div>
                    </div>
                    <div class="board-column canceled">
                        <div class="board-column-container" data-status="4">
                            <div class="board-column-header">Canceled</div>
                            <div class="board-column-content-wrapper">
                                <div class="board-column-content"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
<script src="@Url.Content("~/assets/shop-owner/js/internal/order.js")"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.3.2/web-animations.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/haltu/muuri@0.9.3/dist/muuri.min.js"></script>
}