<select class="form-select" id="statistic-strategy">
    <option value="0">Statistic by day</option>
    <option value="1">Statistic by month</option>
    <option value="2">Statistic by quarter</option>
    <option value="3">Statistic by year</option>
</select>