@model string
<div class="header-bottom sticky-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto col-lg-3 col-xl-3 col-xxl-2 header-left">
                <div class="dropdown category-dropdown is-on" data-visible="true">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Browse Categories">
                        Browse Categories
                    </a>

                    <div class="dropdown-menu">
                        <nav class="side-nav">
                            <ul class="menu-vertical">
                                <li><a href="/home/categories?cat=1&cat=2&cat=5&cat=7&cat=8&cat=9&cat=11&cat=12&cat=13&cat=17&cat=18"><i class="icon-tshirt"></i>Fashion</a></li>
                                <li><a href="/home/categories?cat=9&cat=13&cat=14&cat=19&cat=20&cat=28"><i class="icon-laptop"></i>Electronics</a></li>
                                <li><a href="/home/categories?cat=21"><i class="icon-couch"></i>Furniture</a></li>
                                <li><a href="/home/categories?cat=24&cat=27"><i class="icon-concierge-bell"></i>Book & Magazine</a></li>
                                <li><a href="/home/categories?cat=3&cat=4&cat=15&cat=17&cat=16&cat=23"><i class="icon-heartbeat"></i>Healthy & Beauty</a></li>
                                <li><a href="/home/categories?cat=6&cat=19&cat=20&cat=23&cat=28&cat=14"><i class="icon-blender"></i>Home Appliances</a></li>
                                <li><a href="/home/categories?cat=7&cat=8&cat=5"><i class="icon-shoe-prints"></i>Shoes & Boots</a></li>
                                <li><a href="/home/categories?cat=21"><i class="icon-map-signs"></i>House & Life</a></li>
                                <li><a href="/home/categories?cat=9&cat=21&cat=20&cat=14"><i class="icon-mobile-alt"></i>Phone & accessories</a></li>
                                <li><a href="/home/categories?cat=28&cat=19&cat=20&cat=14"><i class="icon-tv"></i>Computer & Laptop</a></li>
                                <li><a href="/home/categories?cat=11&cat=12&cat=24"><i class="icon-shopping-bag"></i>Backpack & Bag</a></li>
                                <li><a href="/home/categories?cat=24&cat=27"><i class="icon-music"></i>Hobbies & Collects</a></li>
                                <li><a href="/home/categories?cat29"><i class="icon-gift"></i>Voucher & Service</a></li>
                            </ul><!-- End .menu-vertical -->
                        </nav><!-- End .side-nav -->
                    </div><!-- End .dropdown-menu -->
                </div><!-- End .category-dropdown -->
            </div><!-- End .col-xl-3 col-xxl-2 -->

            <div class="col col-lg-6 col-xl-6 col-xxl-8 header-center">
                <nav class="main-nav">
                    <ul class="menu">
                        <li class="@(Model == "home" ? "active" : "")">
                            <a href="/">Home</a>
                        </li>
                        <li class="@(Model == "shop" ? "active" : "")">
                            <a href="/brands">Brands</a>
                        </li>
                        <li class="@(Model == "category" ? "active" : "")">
                            <a href="/home/categories">Products</a>
                        </li>
                        <li class="@(Model == "about" ? "active" : "")">
                            <a href="/home/about">About us</a>
                        </li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->
            </div><!-- End .col-xl-9 col-xxl-10 -->

            <div class="col col-lg-3 col-xl-3 col-xxl-2 header-right">
            </div>
        </div><!-- End .row -->
    </div><!-- End .container-fluid -->
</div><!-- End .header-bottom -->