<form method="POST">
    @Html.AntiForgeryToken()
    <p style="font-family: Lora;">Reset Password</p>
    <div class="form-outline mb-4">
        <input type="password" id="input-password" class="form-control" placeholder="Password" name="password" autocomplete="off" />
        <label class="form-label" for="input-password" style="font-family: Lora;">Password</label>
    </div>
    <div class="form-outline mb-4">
        <input type="password" id="input-confirm-password" class="form-control" placeholder="Confirm password" name="re-password" autocomplete="off" />
        <label class="form-label" for="input-confirm-password" style="font-family: Lora;">Cofirm Password</label>
    </div>
    <div>
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    </div>
    <div class="d-flex align-items-center justify-content-center pb-4">
        <button class="btn-hover btn btn-outline-danger" type="submit">Reset Password</button>
    </div>
</form>
