<form method="POST">
    @Html.AntiForgeryToken()
    <h6 style="font-family: Lora;">Signed out</h6>
    <p style="font-family: Lora; background-color: #9cbe91; color: #fff; border-radius: 2px;">
        Opps. We signed you out, but we can't identify where you come from. You can back to your page manually, sorry for this inconvenient
    </p>
</form>