.drag-container {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}

.board {
    position: relative;
    display: inline-flex;
    width: 100%
}

.board-column {
    position: relative;
    left: 0;
    top: 0;
    padding: 0 10px;
    width: calc(100% / 5);
    z-index: 1;
    transform: none !important
}

    .board-column.muuri-item-releasing {
        z-index: 2;
    }

    .board-column.muuri-item-dragging {
        z-index: 3;
        cursor: move;
    }

.board-column-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.board-column-header {
    position: relative;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    padding: 0 20px;
    text-align: center;
    background: #333;
    color: #fff;
    border-radius: 5px 5px 0 0;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

@media (max-width: 600px) {
    .board-column-header {
        text-indent: -1000px;
    }
}

.board-column.confirm .board-column-header {
    background: #4A9FF9;
}

.board-column.in-process .board-column-header {
    background: #f9944a;
}

.board-column.deliveried .board-column-header {
    background: #857910;
}

.board-column.done .board-column-header {
    background: #2ac06d;
}

.board-column.canceled .board-column-header {
    background: #e01f29;
}

.board-column-content-wrapper {
    position: relative;
    padding: 8px;
    background: #f0f0f0;
    height: calc(100vh - 90px);
    overflow-y: auto;
    border-radius: 0 0 5px 5px;
}

.board-column-content {
    position: relative;
    min-height: 100%;
}

.board-item {
    position: absolute;
    width: calc(100% - 16px);
    margin: 8px;
}

    .board-item.muuri-item-releasing {
        z-index: 9998;
    }

    .board-item.muuri-item-dragging {
        z-index: 9999;
        cursor: move;
    }

    .board-item.muuri-item-hidden {
        z-index: 0;
    }

.board-item-content {
    position: relative;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    font-size: 17px;
    -webkit-box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
    box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
}

    .board-item-content:not(.unpaid) {
        cursor: pointer;
    }

.board-item.unpaid {
    opacity: 0.6
}

@media (max-width: 600px) {
    .board-item-content {
        text-align: center;
    }

        .board-item-content span {
            display: none;
        }
}

#order-id {
    width: 100%;
    height: 50%;
}

#btn-order-details {
    width: 100%;
    background-color: #2f9db6 !important;
}

.board-item > .board-item-content input {
    width: 100% !important;
    margin-bottom: 5px !important
}