<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
          rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.css"
          rel="stylesheet" />
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"></script>
    <style>
        form > .row > .form-outline > input.form-control {
            padding-inline: 0px
        }
    </style>
</head>
<body>
    <section class="gradient-form">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                    <div class="card rounded-3 text-black">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="card-body p-md-3 mx-md-4">
                                    <div class="text-center">
                                        <img src="https://gigamall.com.vn/images/logo.png" style="width: 40%; padding-bottom: 20px" alt="GIGAMALL">
                                        <h4 class="mt-1 mb-5 pb-1" style="font-family: Roboto; font-weight: 800;">Welcome to E-Mall Management</h4>
                                    </div>
                                    @RenderBody()
                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                                <div class="px-3 py-4 p-md-5 mx-md-4">
                                    <h4 class="mb-4" style="font-family: Roboto; color: #fff">We are more than just a system</h4>
                                    <p class="small mb-0" style="font-family: Roboto; color: #fff">Making store management easier with E-commerce system for stores at Mall.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.js"></script>
    <script>
        const datePicker = MCDatepicker.create({
            dateFormat: 'dd/mm/yyyy'
        });
        datePicker.onSelect((_, selectedDate) => {
            $('#input-dob').val(selectedDate).addClass('active');
        });
        function openDatePicker() {
            datePicker.open();
        }
        $(document).ready(() => {
            $('.form-outline').each((index, element) => {
                if ($(element).children('input[readonly]').length != 0) {
                    $(element).css('background', '#e9ecef');
                }
            });
        });
    </script>
    @RenderSection("Scripts", false)
</body>
</html>