<div class="intro-slider-container">
    <div class="intro-slider owl-carousel owl-simple owl-nav-inside" data-toggle="owl" data-owl-options='{
                        "nav": false,
                        "responsive": {
                            "992": {
                                "nav": true
                            }
                        }
                    }'>
        <div class="intro-slide" style="background-image: url(@Url.Content("~/assets/user/images/demos/demo-13/slider/slide-1.png"));">
        </div><!-- End .intro-slide -->

        <div class="intro-slide" style="background-image: url(@Url.Content("~/assets/user/images/demos/demo-13/slider/slide-2.jpg"));">
        </div><!-- End .intro-slide -->

        <div class="intro-slide" style="background-image: url(@Url.Content("~/assets/user/images/demos/demo-13/slider/slide-3.jpg"));">
        </div><!-- End .intro-slide -->
    </div><!-- End .owl-carousel owl-simple -->

    <span class="slider-loader"></span><!-- End .slider-loader -->
</div><!-- End .intro-slider-container -->